<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ artikel.artikelnummer }} - {{ artikel.artikelbez }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Webshop</h1>
        <p>By Bishara & Scopulovic</p>
    </div>
    <div class="container">
        <div class="row">
            <h2>
                Artikel
            </h2>
            <div class="col-sm-4">
                <h3>
                    Artikelnummer: {{ artikel.artikelnummer }}
                </h3>
                <h3>
                    Artikelname: {{ artikel.artikelbez }}
                </h3>
                <p>
                    Artikelinfo: {{ artikel.artikelinfo }}
                </p>
                <p>
                    Preis: {{ artikel.npreis }}
                </p>
                <p>
                    Verfügbare Stücke: {{ artikel.verfuegbareStucke }}
                </p>
            </div>
        </div>
        <div class="row">
            <h2>
                Feedback
            </h2>
            {% for f in feedback %}
                <div class="col-sm-4">
                    <h3>
                        Kunde: {{ f.kunde.name }}
                    </h3>
                    <p>
                        Feedback: {{ f.feedbackbewertung }}
                    </p>
                    <p>
                        Gemacht am {{ f.feedbackdatum }}
                    </p>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <a href="{% url 'index' %}">Zurueck zu Hauptseite</a>
        </div>
    </div>
    <div class="col-sm-4">
        <a href="{% url 'impressum'%}">AGB / Impressum</a>
    </div>
</body>
</html>